.change::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.change:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

.change::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}

.sendmessageIcon:hover {
  background-color: black;
}